.DS_Store
project.xcworkspace
xcuserdata
.build
third_party/**
Plugin/Packages/**
Plugin/Sources/protoc-gen-swiftgrpc/templates.swift
Plugin/protoc-*
Plugin/swiftgrpc.log
Plugin/echo.*.swift
Examples/Echo/PackageManager/Echo
SwiftGRPC.xcodeproj
Package.resolved
