.DS_Store
project.xcworkspace
xcuserdata
.build
protoc-gen-swift
protoc-gen-swiftgrpc
third_party/**
Plugin/Packages/**
Plugin/Sources/protoc-gen-swiftgrpc/templates.swift
Plugin/protoc-*
Plugin/swiftgrpc.log
Plugin/echo.*.swift
Echo
test.out
echo.pid
SwiftGRPC.xcodeproj
Package.resolved
