[submodule "third_party/grpc"]
	path = third_party/grpc
	url = git@github.com:grpc/grpc
[submodule "third_party/swift-protobuf"]
	path = third_party/swift-protobuf
	url = https://github.com/apple/swift-protobuf
